
p {
    color: black
}

a {
    color: blue;
}

.jumbotron { 
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg");
    background-size: cover;

}
h1 {
font-family: 'Times New Roman', Times, serif;
color: #F8F8FF;
}